<h3><i class="fas fa-crosshairs"></i>Imposter</h3>

<div class="section">
    <p class="lead">
       <b> Made By Imposters for the Imposters </b>
    </p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn black">
        <i class="fab fa-google left "></i>
        Log In with Google
    </a>
</div>