.login-container{
    width:400px;
    margin-top: 50px;
    text-align: center;
}
p{
    margin: 10px 0 !important;
}
#card-image{
    height: 200px;
}
body{
    background-image: url("https://images.unsplash.com/photo-1573339607881-208e75e4b267?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGZvcmVzdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    
}