.login-container{
    width:400px;
    margin-top: 50px;
    text-align: center;
}
p{
    margin: 10px 0 !important;
}
#card-image{
    height: 200px;
}
/* body{
    background-image: url("https://wallpapercave.com/wp/VD8ldiL.jpg");
    background-size: cover;
    
} */
body{
    background-image: url("https://wallpapercave.com/wp/VD8ldiL.jpg");
    background-size: auto;
    opacity: .9;
    
}

.fa-small{
    font-size: 16px !important;
    background-color: #F44336 !important;

}
.btn-float{
    float: left;
    margin-right: 10px;
}

#comment-image{
    height: 30px !important;
    width: 30px !important;
    margin: 10px;
    
}
tr{
    background-color: rgba(242,242,242,0.8);
}
#edit-add-form{
    background-color: rgba(242,242,242,0.5) !important;
    padding: 50px;

}