<h3 class="white-text"><b>Add Post</b></h3>

<div class="row">
    <form action="/stories" method="POST" class="col s12" id="edit-add-form">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title" class="black-text"><b>Title</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status"  >
                    <option value="public" selected ><b>Public</b></option>
                    <option value="private"><b>Private</b></option>
                </select>
                <label for="status" class="black-text"><b>Status</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5 ><b>Tell Us Your Story:</b></h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="ImPost" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
    
</div>