<h3 class="white-text"><b>Edit Post</b></h3>

<div class="row"  >
    <form action="/stories/{{story._id}}" method="POST" class="col s12" id="edit-add-form">
    {{!-- This hidden element is used for method override package to get _method from request.body and set it to value --}}
       <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{story.title}}" >
                <label for="title"  class="black-text"> <b> Title</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status" >
                    {{#select story.status}}
                    <option value="public" selected><b>Public</b></option>
                    <option value="private"><b>Private</b></option>
                    {{/select}}
                </select>
                <label for="status"  class="black-text"><b>Status</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5  class="black-text"><b>Tell Us Your Story:</b></h5>
                <textarea id="body" name="body">{{story.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Update" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
    
</div>